{
    auto_https off
}

:80 {
    # Compression pour améliorer les performances
    encode gzip

    # Logs
    log {
        output stdout
        format console
    }

    # API Spring Boot
    handle_path /api/ {
        reverse_proxy api:8080  
    }

    # Health check Caddy
    handle /caddy-health {
        respond "OK" 200
    }

    # Frontend Nuxt.js
    handle {
        reverse_proxy front:3000 
    }
}